/* general styling */
* {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background: lavender;
    color: #4e1265;
}
 
/* Header Elements */

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #9a14bc;
    color: #4e1265;
    z-index: 100;
}

.navbar a {
    font-size: 18px;
    color: #4e1265;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
}

.navbar a:hover,
.navbar a.active {
    color: #4e1265;
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.2;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700px;
    color: #9a14bc;
}

.home-content p {
    font-size: 16px;
    margin: 20px 0 40px;
}

.about-content h2 {
    font-size: 36px;
    font-weight: 700px;
    color: #4e1265;
}